html {
    height: 100%;
}
body {
    margin:  0;
    padding: 0;
}
.header {
    height: 44px;
    width: 100%;
}

.textWrapper{
    margin: 20px 0 0 0;
    padding: 4px;
    text-align: center;
}

#name_text {
    border: none;
    padding: 6px 8px;
    font-size: 20px;
    width: 290px;
    height: 24px;
}

.button-list-wrapper {
    background: #eee;
    position: relative;
}

.button-list {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    width: 100vmin;
}

.button {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 18vmin;
    width: 18vmin;
}

.up_button {
    position: absolute;
    background-color: #999;
    top: 41vmin;
    left: 15vmin;
}

.down_button {
    position: absolute;
    background-color: #999;
    top: 79vmin;
    left: 15vmin;
}

.left_button {
    position: absolute;
    background-color: #999;
    top: 60vmin;
    left: 1vmin;
}

.right_button {
    position: absolute;
    background-color: #999;
    top: 60vmin;
    left: 29vmin;
}

.a_button {
    position: absolute;
    top: 60vmin;
    right: 1vmin;
    background-color: #ffaaaa;
}

.b_button {
    position: absolute;
    top: 71vmin;
    right: 26vmin;
    background-color: #aaaaff;
}

.c_button {
    position: absolute;
    top: 44vmin;
    right: 10vmin;
    height: 11vmin;
    width: 30vmin;
    background-color: #ffffaa;
}
