@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Augment8 Slot") {
 <div class="header">
  <div class="textWrapper">
   <input id="name_text" type="text" placeholder="名前を入力してください" disabled>
  </div>
 </div>
 <div class="button-list">
  <div id="b_button" class="b_button button">
  </div>
  <div id="a_button" class="a_button button">
  </div>
  <div id="c_button" class="c_button button">
  </div>
 </div>
}
